*{
    background-color: #D6EEFF;
}


.obtitle{
    width:350px;
    display: flex;
    position:relative;
    margin: auto;
}
.cage{
    width:150px;
    display: flex;
    position: relative;
    left: 100px;
    top: 50px;
    margin: auto;
}