
.obtitle{
    width:350px;
    display: flex;
    position:relative;
    margin: auto;
}
.cage{
    width:150px;
    display: flex;
    position: relative;
    left: 100px;
    top: 50px;
    margin: auto;
}
.dogtext{
    display: flex;
    position:absolute;
    top:250px;
    left:100px;
}
.blob{
    display: flex;
    position: absolute;
}